@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #009933;
  --opacity-half-color: #c4d7b2;
  --opacity-full-color: #eaf1f9;
  --grey: #7f7f7f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1100px;
  margin: 0 auto;
  max-width: 90%;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}
